---

const { ...offre } = Astro.props;
---
<div class="card">
  <div class="card-content">
    <h2>{offre.nomMaison}</h2>
    <p><strong>Adresse :</strong> {offre.adresse}</p>
    <p><strong>Prix :</strong> {offre.prix}€</p>
    <p><strong>Surface :</strong> {offre.surface}m²</p>
    <p><strong>Chambres :</strong> {offre.nbChambres}</p>
    <p><strong>Salles de bain :</strong> {offre.nbSdb}</p>
  </div>
</div>
